:root {
    --dark-grey: #292929;
    --md-grey: #393939;
    --light-grey: #494949;
}

html, body {
    background-color: #1d1d1d;
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.done {
    background-color: #2ECC40;
}

.container h2 {
    border-bottom: 2px solid var(--dark-grey);
    width: 300px;
    text-align: center;
}

.container .menu {
    display: flex;
}

.container .menu #new-task {
    background-color: var(--light-grey);
    border: none;
    border-radius: 6px 0 0 6px;
    color: white;
    height: 28px;
    font-size: 16px;
    padding-left: 10px;
    margin: 0;
    width: 250px;
}

.container .menu button#new-task-button {
    background-color: var(--md-grey);
    border: none;
    border-radius: 0 6px 6px 0;
    color: white;
    height: 28px;
    font-size: 20px;
    margin: 0;
    font-weight: bold;
    width: 50px;
}

.container .menu button#new-task-button:hover {
    background-color: var(--dark-grey);
}

.container #task-box {
    margin: 8px 0;
}

.container #task-box .task{
    background-color: var(--md-grey);
    padding: 4px;
    margin: 8px 0;
    border-radius: 6px;
    width: 310px;
    text-align: center;
    padding: 16px 0;
    position: relative;
}

.container #task-box .task:hover {
    font-weight: bold;
}

.container #task-box .task.done {
    background-color: #2ECC40;
    color: black;
}

.container #task-box .task .close-icon {
    background-color: white;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    right: 3px;
}

.container #task-box .task .close-icon:hover {
    background-color: #FF4136;
}

.container #task-box .task .close-icon .tooltip-text {
    visibility: hidden;
    background-color: #FF4136;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;

    position: absolute;
    bottom: 100%;
    left: 12px;
    z-index: 1;
}

.container #task-box .task .close-icon:hover .tooltip-text {
    visibility: visible;
}